body{
    margin: 0;
    padding: 0;
  border-style: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D3D3D3;
}
.card{

    background-color: #fff;
    border-radius: 13px;
